<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mycustomview">

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.NumberViewAct">
        </activity>
        <activity android:name=".activity.ImageIntroAct">
        </activity>
        <activity android:name=".activity.CircularRingAct">

        </activity>
        <activity android:name=".activity.VolumeControlAct">

        </activity>
        <activity android:name=".activity.FourItemsViewGroupAct">

        </activity>
        <activity android:name=".activity.ViewDragHelperAct">

        </activity>
        <activity android:name=".activity.DeepVDHLayoutAct">

        </activity>
        <activity android:name=".activity.FlowLayoutAct">

        </activity>
        <activity android:name=".activity.RenRenSlideAct">

        </activity>
        <activity android:name=".activity.SlideLayoutAct">

        </activity>
        <activity android:name=".activity.RefreshableAct">

        </activity>
        <activity android:name=".activity.PullRefreshLayoutAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
